.photoViewer{
    border: 10px solid white;
    width:30%;
    margin-top: 3%;
    float: left;
    margin-left: 12%;
    margin-right: 20px;
    img{
        max-width: 100%;
        height: auto;
    }
}
.finalPhoto{
    border: 10px solid white;
    width:30%;
    margin-top: auto;
    margin-bottom: auto;
    
    margin-left: auto;
    margin-right: auto;
    img{
        max-width: 100%;
        height: auto;
    }
}